.header__wrapper{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
}

.header_body{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 10px;
}

.header__caretop{
    font-size: 10px;
}

.header__carebottom{
    font-size: 13px;
    font-weight: 800;
}

.header__option{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-left: 5px;
    margin-right: 5px;
}

.header__basket{
    display: flex;
    color: white;
    gap: 5px;
}
